.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.show {
  text-align: center;
  margin-top: 30px;
}

.sidebar {
  margin-top: 75px;
  margin-left: 45px;
}

.App-body {
  background-color: #e2e2e2 ;
}

.leftSide{
  margin-top: 30px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-column {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
